.rooms-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.room-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.cb-toggle-sb:not(:checked)+.sidebar .room-list {
  display: none;
  @include mq-small {
    display: block;
  }
}

.cb-toggle-lists:checked ~ .sidebar .rooms-wrapper {
  display: none;
}
