.users-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.user-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.cb-toggle-sb:not(:checked)+.sidebar .user-list {
  display: none;
  @include mq-small {
    display: block;
  }
}

.cb-toggle-lists:not(:checked) ~ .sidebar .users-wrapper {
  display: none;
}
